body{
          border-radius: 4px;
          background-color: rgb(180, 180, 180);
          margin: 5%;
           align-items: center;
          justify-items: center;
        }
        
        #full_div{
            border-radius: 5px;
            background-color: white;
            padding: 10px;
            border-style: none;
        }
        #guess-input{
            border-radius: 4px;
            height: 30px;
            background-color: rgb(179, 179, 179);
            border-style: none;
            box-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
        }
        #guess-button{
            border-radius: 3px;
            height: 30px;
            width: 100px;
            background-color: rgb(33, 33, 111);
            color: white;
            border-style:none ;
            box-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
        }
        #guess-button:hover{
            background-color: rgb(18, 7, 181);
        }
        #Refresh-button{
            height: 40px;
            border-radius: 20px;
            border-style: none;
            background-color: rgb(0, 112, 0);
            color: white;
            box-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
        }
        #Refresh-button:hover{
            
            background-color: rgb(6, 248, 6);
        }
        #Refresh-button:active{
            background-color: rgb(55, 126, 7);
        }
        #HistoryArea{
            display: grid;
            grid-template-columns: 8fr 1fr;
            align-items: center;
            justify-items: center;
        }